ion-header
  ion-toolbar(color="primary")
    ion-buttons(slot="start", routerLink="/home")
      ion-icon.icon-back(name="arrow-round-forward")
    ion-title Create company
ion-content.add-company-content
  form.add-company-form([formGroup]="addCompanyForm", (ngSubmit)='addCompany()')
    .company-avatar((click)="openActionSheet()")
      input.input-file(type='text', formControlName="image")
      ion-img.image-input-file(*ngIf="photo !== ''", [src]='photo')
    ion-item.item-add-company
      ion-label(position="floating") Name
      ion-input(required, formControlName="name", type="text")
    ion-item.item-add-company
      ion-label(position="floating") City
      ion-input(required, formControlName="city", type="text")
    ion-item.item-add-company
      ion-label(position="floating") Address
      ion-input(required, formControlName="address", type="text", (ngModelChange)="addLocations($event)")
    div(id='add_location')
    ion-button.btn-form(type="submit", color='primary', expand="block") Create company





