ion-header {
  direction: rtl;

  .icon-back {
    font-size: 30px;
  }
}

.company-details {
  direction: rtl;

  .img-details {
    margin-bottom: 15px;
  }

  ion-label {
    font-size: 20px;
    font-weight: bold;
  }
}