ion-header()
  ion-toolbar
    ion-title Ноme
ion-content.home-content
  ion-fab(vertical="bottom" horizontal="end" slot="fixed")
    ion-fab-button.btn-fab
      ion-icon(name="add")
    ion-fab-button.btn-fab
      ion-icon(name="trash")
    ion-fab-button.btn-fab
      ion-icon(name="exit")

