ion-header {
  direction: rtl;
}

.home-content {
  direction: rtl;

  .label-item {
    margin-right: 15%;

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }
  }

  .bottom-scroll {
    height: 10vh;
    position: absolute;
    bottom: -100px;
  }
}
